@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fredoka One', cursive;
    background-image: linear-gradient(to right, #2c5cf8, #cc4c4c);
    color: #fff;
    height: auto;
}
.loader{
    width: 100%;
    height: 100vh;
    background-color:black;
    color: rgb(233, 204, 167);
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 1s ease-out 1s;
}
.container {
    width: 85%;
    margin: auto;
}
.studio-ghibli{
    font-family: Helvetica, sans-serif;
    background-attachment:local;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size:contain;
    background-image: url('https://www.ghibli.jp/img/totoro.png');
    background-color: #109ceb;
    
    height: 500px;
}
.titulo-ghibli{
    padding: 20px;
    text-align: center;
}
.ghibli{
    margin: auto;
    bottom: 0;
}
.titulo-ghibli img{
    cursor: pointer;
    transition: all 0.5s;
}
.titulo-ghibli img:hover{
    transform: scale(1.1);
}
#btn-ghibli{
    cursor: pointer;

}
a {
    text-decoration: none;
    color:inherit;
}
.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 25px 0;
}
.titular {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titular h2{
    letter-spacing: 2px;
    font-size: 2.5em;
    text-shadow: 1px 2px rgb(24, 22, 22);
}
.busqueda form{
    display: flex;
    flex-direction: row;
}
.user-input{
    width: 350px;
    text-align: center;
}
#search {
    width: 150%;
}
#form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#genero {
    background-color: inherit;
}
.user-input form input, .user-input form select{
    width:80%;
    outline: none;
    padding: 8px;
    border: 1px solid lightgray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

.user-input input:focus, select:focus{
    box-shadow: 0 0 5px #e22865;
    border: 1px solid #e22865;
}

.user-input button{
    cursor: pointer;
    padding: 8px;
    width: 80%;
    transition: 1s;
    outline: none;
    background-color: lightgray;
    border: 1px solid rgb(90, 86, 86);
    border-radius: 5px;
}

.user-input button:hover{
    background-color: transparent;
    color: white;
}
#vistos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 3px solid black;
}
.titulo-vistas {
    margin: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items:center;
}
.titulo-vistas button {
    margin-left: 10px;
    cursor: pointer;
    padding: 8px;
    transition: 1s;
    outline: none;
    background-color: lightgray;
    border: 1px solid rgb(90, 86, 86);
    border-radius: 5px;
}
.titulo-vistas button:hover {
    background-color: transparent;
    color: white;
}
.vistos-div {
    margin: 8px;
}
.text-center{
    text-align: center;
    width: 100%;
    color:black;
    padding: 8px;
    border-radius: 5px;
    z-index: 100;
}
.alert-danger {
    position: relative;
    background-color:red;
    color: white;
}
.alert-success {
    position: relative;
    background-color:green;
}
.icons {
    padding:5px;
    font-size:2em;
}
.modal-body{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.527);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in;
}
.modal-active{
    visibility: visible;
    opacity: 1;
}
span{
    color: black;
    font-size:2rem;
    margin-top: 15px;
}

i:hover {
    cursor: pointer;
    color: red;

}
.letter-green{
    color: lime !important;
}

form{
    width: 100%;
    height: 100%;
}
fieldset{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
legend{
    color: black;
    text-align: left;
    font-weight:lighter;
}
.modal {
    margin-top: 50px;
    background-color: white;
    width: 400px;
    height: 500px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#films{
    height: 65%;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.peliculas-items{
    margin: 20px;
    padding: 15px;
    background-color: beige;
    color: rgb(34, 33, 33);
    border-radius: 5px;
    border: 2px solid rgb(73, 28, 28);
    box-shadow: 0 2px black;
    transition: all 50ms ease-out;
}
.peliculas-items:hover{
    transform: scale(.98);
    box-shadow: none;
}

.body-card {
    width:100%;
    color: #000000;
    
}
.card {
    cursor: pointer;
    margin: 15px auto;
    width: 380px;
    background: rgba(225, 231, 136, 0.767);
    border-radius: 8px;
    box-shadow: rgb(65, 62, 62) 0 6px 10px 0;
}
.card p{
    padding: 15px
}
.titulo-original{
    color: black;
    font-size:27pt;
    padding: 10px;
}
.titulo-english{
    font-size:large;
}
.img-movie{
    width:95%;
    padding-bottom: 15px;
}
#tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#modal-ghibli {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    
    overflow-y: scroll;
    background-image: linear-gradient(to left, #2c5cf8, #cc4c4c);
}
#botonCerrar {
    top: 0;
    position: sticky;
    transition: .5s;
}
.fondoWhite {
    background-color: rgba(255, 255, 255, 0.8);
}
.footer {
    text-align: center;
    padding:15px;
    font-size: 0.8rem;
    bottom: 0;
    left: 0;
}
@media(max-width:1051px){
    .container .nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width:935px){
    body{
        height: auto;
    }
    
}
@media(max-width:835px){
    .nav{
        align-items: center;
        flex-direction: column;
    }
    .container{
        width:95%
    }

    .nav h2{
        letter-spacing: normal;
        margin-top: 10px 0;
        font-size: 2.5rem;
    }

    
}
@media(max-width:778px){
    .busqueda{
        width:100%
    }
    .peliculas-items {
        width: 40%;
    }
    .nav h2{
        font-size: 2rem;
    }
}
@media(max-width:480px){
    .container .user-input{
        width:100%;
    }    
    .peliculas-items{
        width: 80%;
    }
    .nav h2{
        font-size: 1.5rem;
    }
    #films{
        justify-content: center;
    }
}

@media(max-width:320px){
    .user-input input{
        width:60%;
    }
    .nav h2{
        font-size: 1rem;
    }
}