@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fredoka One', cursive;
    background-image: linear-gradient(to right, #2c5cf8, #cc4c4c);
    color: #fff;
}

.container {
    width: 95%;
    margin: auto;
}

.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 25px 0;
}

.nav h2{
    font-size: 2rem;
    text-shadow: 1px 2px rgb(24, 22, 22);
}

.user-input{
    width: 350px;
    text-align: center;
}
form {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.user-input form input{
    width:80%;
    outline: none;
    padding: 8px;
    border: 1px solid lightgray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

.user-input input:focus{
    box-shadow: 0 0 5px #e22865;
    border: 1px solid #e22865;
}

.user-input button{
    cursor: pointer;
    padding: 8px;
    width: 80%;
    transition: 1s;
    outline: none;
    background-color: lightgray;
    border: 1px solid rgb(90, 86, 86);
    border-radius: 5px;
}

.user-input button:hover{
    background-color: transparent;
    color: white;
}

.modal-body{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.527);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in;
}
.modal-active{
    visibility: visible;
    opacity: 1;
}
span{
    color: black;
    font-size:2rem;
}
span:hover{
    cursor: pointer;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modal {
    margin-top: 50px;
    background-color: white;
    width: 400px;
    height: 500px;
    border-radius: 5px;
    text-align: center;
    padding: 22px;
}
#films{
    border-top: 3px solid black;
    display: flex;
    flex-wrap: wrap;
}
.peliculas-items{
    margin: 20px;
    padding: 15px;
    background-color: beige;
    color: rgb(34, 33, 33);
    border-radius: 5px;
    border: 2px solid rgb(73, 28, 28);
    box-shadow: 0 2px black;
}
@media(max-width:768px){
    .nav{
        align-items: center;
        flex-direction: column;
    }

    .nav h2{
        margin-top: 10px 0;
    }

    .user-input{
        width:90%;
    }
}

@media(max-width:480px){
    .user-input input{
        width:74%;
    }    
}

@media(max-width:320px){
    .user-input input{
        width:60%;
    }    
}